# virtual env
/bitsat

# API_KEY
/.env

# stupid fucking cache
/__pycache__

# discord logs
/discord.log

# no longer keeping dataset hidden for view as it is genuinely inconvenient for my bot to work without it