# virtual env
/bitsat

# API_KEY
/.env

# stupid fucking cache
/__pycache__
/database/__pycache__
/services/__pycache__
/tests/__pycache__
/.pytest_cache

# discord logs
/discord.log

# dataset (removing cause I'm no longer hosting on railway and using my second laptop to double as a server)
/data
/predict
